body{
    background:linear-gradient(purple,yellow);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-size: 25px;
}

.form input{
    width: 250;
    height: 10px;
}
button{
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(26, 177, 228);
}

footer{
    background-color: rgb(85, 84, 84);
    text-align: left;
    color: rgb(252, 251, 251);
    margin-left: auto;
    padding: 20px 20px 20px 20px;
}

footer a{
    text-decoration: none;
    color: blueviolet;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    

}

.recover-password a:hover{
    color: red;
    font-size: 20px;

}