.p1{
    background-color: aqua;
    border-top-right-radius: 20px;
    padding: 20px;
    border-bottom-left-radius: 20px;
    font-weight: 500;
}
.p2::first-letter{
    word-spacing: 10px;
    color: blueviolet;
    caret-shape: block;
}